# IDE
/.idea
/.vagrant
/.vscode
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php

# app
/public/build
/storage/pail
/storage/*.key
/vendor
/.phpunit.cache

# assets
/public/css
/public/hot
/public/images
/public/js
/public/mix-manifest.json
/public/mix.js.map
/public/storage
/public/webfonts
/node_modules

# logs
npm-debug.log
yarn-error.log

# environment
/.env
/.env.backup
/.env.dusk.local
/.env.production
/.env.testing
/.fleet
/.nova
/.phpactor.json
/.phpunit.result.cache
/.zed
/auth.json
/Homestead.json
/Homestead.yaml

# cache
/*.cache

# testing
/public/tests-report
phpunit.dusk.xml
